body {
	margin: 0 4rem;
	padding: 1rem;
	border-right: 0.25rem solid whitesmoke ;
	border-left: 0.25rem solid whitesmoke;
	box-shadow: 0px 0px 40px  rgb(119, 118, 118);;
	background-color: rgb(34, 33, 33);

}

header .title{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align: center ;
	text-shadow: 0px 0px 15px rgb(154, 154, 153);
	text-transform:capitalize ;
	color: rgb(255, 255, 255);
}
header .title:hover{
	transform: scale(1.1);
	color:#000;
}
.image-grid {	
	--row-height: 20em;

	--gap: 16px;
	--num-cols: 4;

	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid >img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	
}
.image-grid img:hover  {
	box-shadow: 0 0 10px rgb(126, 125, 125); 
	-ms-transform: scale(1.09); /* IE 9 --to support multiple browsers-- */
	-webkit-transform: scale(1.09); /* Safari 3-8 */
	transform: scale(1.09);transition:0.4s linear;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}


@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}


#modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1;
	height: 100%;
	width: 100%;
  }
  /* what is inside the modal */
  .modal-content { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 50%;
	padding: 20px;
  }